</br>
<%= form_for :nuevo_proyecto, url: "/proyectos/nuevo?tab=#{@tab}" do |form| %>
	<div class='form-inline'>
		<%= form.text_field(:proyecto, size: 128, class: 'form-control' ) %>
		<%= form.submit '+ Proyecto'  %>
	</div>
<% end  %>
</br>