<div class='row'>
	<div class='col-md-12'>

		<table class="table table-bordered table-sm  thead-dark">
			<thead>
				<tr>
					<% objeto.encabezados.order(:orden).each do |campo| %>
						<td align='center'><small><i><%= link_to campo.encabezado, edit_encabezado_path(campo) %></i></small></td>				
					<% end %>
				</tr>
			</thead>
			<tbody>

				<% objeto.lineas.order(:orden).each do |linea| %>
					<tr>

						<% objeto.encabezados.order(:orden).each do |campo| %>
							<% if campo.tipo == 'valor' %>
								<td align="right">
							<% else %>
								<td>
							<% end %>
							<small>

							<% if linea.columna_n(campo.orden).blank? %>
								-
							<% else %>
								<% if campo.orden == 1 %>
									<%= link_to linea.columna_n(campo.orden).columna, linea %>
								<% else %>
									<%= linea.columna_n(campo.orden).columna %>
								<% end %>
							<% end %>

							</small></td>
						<% end %>

					</tr>
				<% end %>

			</tbody>
		</table>

	</div>
</div>
