<%= render partial: '0p/general/titulo', locals: {c: controller_name, a: nil, titulo: 'Citas Bibliográficas', size: '5'} %>

<div class='row'>
	<div class='col-md-1'>
	</div>
	<div class='col-md-10'>
		<% @coleccion['publicaciones'].each do |publicacion| %>
			<p><small><%= sanitize publicacion.type_quote %></small></p>
		<% end %>
	</div>
	<div class='col-md-1'>
	</div>
</div>