<%= render partial: 'help/0help/tema_ayuda/portada' %>

</br></br>
<h4>
<ul>
	<li class='text-info text-center'>Trabaje en forma colaborativa con su equipo de trabajo</li>
	<li class='text-info text-center'>Construya estados del arte orientados a la redacción de su publicación</li>
	<li class='text-info text-center'>Registre los datos y sus especificaciones en todas las etapas de su proyecto </li>
	<li class='text-info text-center'>Publique sus datos en nuestro repositorio</li>
</ul>
</h4>

<%= render partial: 'help/0help/tema_ayuda/init_elementos' %>

</br></br>
<h4 class='text-warning text-center'>ADVERTENCIA</h4>
<%#= image_tag 'Proyecto ID.jpg', class: "mx-auto d-block" %>
<h6 class='text-warning text-center'>El dispositivo de traducción automática de su navegador produce efectos que distorsionan los datos de nuestra colección, recomendamos su desactivación.</h6>
</br>
