<%= render partial: 'help/0help/tema_ayuda/portada' %>

<h1 class='text-info text-center'>Eda</h1>
<h5 class='text-info text-center'>Proyecto - Equipos - Estados del arte - Datos</h5>
<ul>
	<li class='text-info text-center'>Construya estados del arte orientados a la redacción de la publicación</li>
	<li class='text-info text-center'>Registre los datos en todas sus etapas con sus especificaciones</li>
	<li class='text-info text-center'>Publique sus datos en nuestro repositorio</li>
</ul>

<%= render partial: 'help/0help/tema_ayuda/init_elementos' %>

</br></br>
<h4 class='text-warning text-center'>ADVERTENCIA</h4>
<%#= image_tag 'Proyecto ID.jpg', class: "mx-auto d-block" %>
<h6 class='text-warning text-center'>El dispositivo de traducción automática de su navegador produce efectos que distorsionan los datos de nuestra colección, recomendamos su desactivación.</h6>
</br>
