<p id="notice"><%= notice %></p>

<p>
  <strong>Institucion:</strong>
  <%= @institucion.institucion %>
</p>

<%= link_to 'Edit', edit_institucion_path(@institucion) %> |
<%= link_to 'Back', instituciones_path %>
