<% unless @coleccion['especificaciones'].empty? %>
	<table class="table table-striped table-sm  thead-dark">
		<tbody>
			<% @coleccion['especificaciones'].each do |esp| %>
				<tr><td><%= "| #{esp.orden} | #{esp.especificacion} |" %></td><td><%= render partial: '0p/tabla/btns', locals: {a: 'index', objeto: esp} %></td></tr>
				<tr><td><small><%= sanitize esp.d_detalle %></small></td></tr>
			<% end %>
		</tbody>
	</table>
<% end %>
