<%= form_with(model: ingreso, local: true) do |form| %>
  <% if ingreso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ingreso.errors.count, "error") %> prohibited this ingreso from being saved:</h2>

      <ul>
      <% ingreso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
