<div class='row'>
	<div class='col-md-6'>
		<%= render partial: '0p/form/form', locals: {c: controller_name, a: action_name} %>
	</div>
	<div class='col-md-6'>
		<%= render partial: '0p/general/titulo', locals: {c: controller_name, a: nil, titulo: 'Enviar mensaje a la Administración de EDA', size: '5'} %>

		<h5 class='center'>
			</br></br>
			<i>Contactate con nosotros! </br>
			Estaremos encantados de atender tus dudas o sugerencias!</i>
			</br></br>
			<b>Eda</b>
		</h5>
	</div>
</div>